<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Django Channels</h1>
    
    
    <script>

        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function(){
            console.log("websocket connection open.")
            ws.send('hi')
        }

        ws.onmessage = function(event){
            console.log("message received", event)
        }

        ws.onerror = function(event){
            console.log("websocket error occurred", event)
        }

        ws.onclose = function(event){
            console.log("websocket connection closed.", event)
        }


        // ws.addEventListener('open', ()=>{
        //     console.log("websocket connection open.")
        //     ws.send('hi')
        // })

        // ws.addEventListener('message', (event)=>{
        //     console.log("message received", event)
        // })

        // ws.addEventListener('error', (event)=>{
        //     console.log("websocket error occurred", event)
        // })

        // ws.addEventListener('close', (event)=>{
        //     console.log("websocket connection closed", event)
        // })

    </script>
</body>
</html>